# 以下是项目依赖的第三方库及其版本
Django==4.2.7  # Django框架，用于构建web应用
djangorestframework==3.14.0  # Django REST framework，用于构建RESTful API
djangorestframework-simplejwt==5.3.1  # Django REST framework的简单JWT认证
django-cors-headers==4.3.1  # 用于处理跨域资源共享（CORS）的Django应用
psycopg2-binary==2.9.9  # PostgreSQL适配器，用于Python
PyJWT==2.8.0  # Python JSON Web Token库，用于处理JWT
python-dotenv==1.0.0  # 从.env文件中加载环境变量的库
